
body {
  font-family: sans-serif;
  text-align: center;
  background: #fffdee;
}
#board {
  display: grid;
  grid-template-columns: repeat(8, 60px); /* boardSize に対応 */
  gap: 4px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #fff3dc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
